@font-face {
    font-family: "Verdana";
    src: url('/fonts/Verdana.woff') format('woff');
}

.template {
    display: flex;
    justify-content: space-between;
    padding-left: 20vw;
    padding-right: 20vw;
    height: 80px;
}

.leftHeader {
    display: inline-flex;
    align-items: center;
}

.rightHeader {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: "Verdana";
    gap: 1rem;
}

.logo {
    width: 90px;
    image-rendering: -webkit-optimize-contrast;
    backface-visibility: hidden;
    transform: translateZ(0);
}

